doctype html

html
  head
    title Landing Page
    meta(chartset="utf-8")
  body
    h1 The future home of something awesome!
    p Ball tip sausage filet mignon ribeye salami shoulder pig cow tail meatloaf frankfurter. Venison pork chop swine pastrami. Hamburger fatback turkey doner, jerky brisket bresaola pork chop. Bacon pork loin salami, picanha doner landjaeger tongue turkey. Chuck drumstick cow, pork loin tri-tip cupim porchetta frankfurter ham pork belly shankle kielbasa beef alcatra pastrami. Capicola tri-tip rump, short loin cow jerky ham ground round cupim turkey pork loin short ribs.
